
{% extends "page.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/static-v1.css' %}">
{% endblock %}

{% block content %}

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="text-col col-sm-12 col-md-12">
        <p class="text-title">
          Política de Cookies
        </p>
        <div>
          <p>
              <strong>1. Este site utiliza COOKIES?</strong>
          </p>
        </div>
        <p>
        Conforme mencionado na <a href="politica-de-privacidade"  target="_blank" rel="noopener">Política de Privacidade</a>, a    <strong>CFK COMÉRCIO DE ALIMENTOS LTDA. (BOB´S)</strong> utiliza cookies e
            outras tecnologias para proporcionar a melhor experiência do USUÁRIO no
            Website. Ao visitar e utilizar o site e páginas relacionadas, o USUÁRIO
            concorda com a utilização de cookies e tecnologias semelhantes.
        </p>
        <p align="left">
            <strong></strong>
        </p>
        <div>
            <p>
                <strong>2. </strong>
                <strong>O que são</strong>
                <strong> COOKIES?</strong>
                <strong></strong>
            </p>
        </div>
        <p>
            Cookies são pequenos arquivos que são gravados no computador quando USUÁRIO
            acessa sites na Internet. Quando um Website é visitado, este envia o Cookie
            para o computador e/ou celular, o qual é armazenado em uma pasta localizada
            dentro do browser. Os cookies não transferem vírus ou malware para o
            computador e/ou celular, pois a informação de um Cookie não altera quando
            se move o respectivo Website, não havendo forma de alterar o funcionamento
            do dispositivo. Sendo assim, atuam como <em>tracking</em> (registro de
            atividades do USUÁRIO), sendo atualizados todas as vezes em que o Website
            for acessado. Pode-se obter informações sobre a navegação uma vez concedida
            a coleta aos Cookies, enviado por meio do Website.
        </p>
        <p>
            O BOB’S utiliza diferentes sistemas de <em>tracking</em> para analisar como
            os USUÁRIOS navegam no Website, assim como para registrar e aprimorar o
            desempenho e funcionamento deste. Tal atividade permite fornecer uma
            experiência de alta qualidade, uma vez a aptidão a rapidamente identificar
            e solucionar eventuais problemas que possam surgir. Pode-se utilizar
            cookies para registrar quais páginas do Website são populares e qual o
            método eficaz de ligação entre elas. Esta última auxilia a identificação
            pelo pesquisa em outro Website, permitindo maior eficiência campanhas
            publicitárias futuras.
        </p>
        <p>
            Outra função dos Cookies é armazenar as sessões para possibilitar o acesso
            a conta (consulta de posição ou realizar a compra de um produto e/ou
            serviço). O Cookie de Sessão é instalado para que o Website “relembre” que
            o USUÁRIO realizou o <em>login</em>.
        </p>
        <div>
            <p>
                <strong>3. </strong>
                <strong>Tipos de cookies utilizados </strong>
            </p>
        </div>
        <p>
            • <strong>COOKIES FUNCIONAIS</strong>: são essenciais para o funcionamento
        do Website. São armazenados temporariamente como informação de    <em>login</em> e expiram assim que o navegador é fechado.
        </p>
        <p>
            • <strong>COOKIES DE SESSÃO</strong>: são criados e armazenados
            temporariamente durante sessão de navegação em um site e são excluídos do
            dispositivo do USUÁRIO quando o navegador é fechado;
        </p>
        <p>
            • <strong>COOKIES PERSISTENTES</strong>: são utilizados para lembrar as
            preferências do Website e permanecem no desktop do USUÁRIO e/ou dispositivo
            móvel mesmo depois do fechamento do navegador ou reinicialização. O BOB’s
            utiliza esses Cookies para analisar o comportamento do USUÁRIO e
            estabelecer padrões, de modo a aprimorar a funcionalidade do Website;
        </p>
        <p>
            • <strong>COOKIES ANALÍTICOS</strong>: A informação fornecida pelos Cookies
            Analíticos permite analisar padrões do comportamento do USUÁRIO, e essas
            informações são utilizadas para melhorar a experiência em geral ou
            identificar áreas do Website que necessitam de manutenção. Esta informação
            é anônima (não pode ser usada para identificá-lo, tampouco contêm qualquer
            informação pessoal do USUÁRIO) e é apenas utilizada para fins estatísticos;
        </p>
        <p>
            • <strong>COOKIES DE MARKETING</strong>: Para disponibilidade de ofertas de
            Produtos e/ou Serviços ao USUÁRIO, de acordo com os interesses;
        </p>
        <p>
        • <strong>COOKIES DE TERCEIROS</strong>: Utiliza-se sistemas de    <em>tracking</em> de terceiros que podem configurar Cookies no dispositivo
            do USUÁRIO, como, por exemplo, <em>Google Analytics</em>, através de
        serviço de análise de internet da <em>Google Inc</em>. O Google    <em>Analytics</em> utiliza Cookies, arquivos de textos que são armazenados
            no computador e possibilitam a análise de utilização do Website. As
            informações geradas a partir dos Cookies a respeito da utilização do
            Website (incluindo endereço de IP) serão transmitidos a um servidor nos
            Estados Unidos para armazenamento. Essas informações permitem ao Google
            analisar a utilização do Website para fornecer relatórios aos operadores de
            Websites, bem como analisar o fornecimento de outros serviços ligados à
            utilização do Website e da Internet. O Google transmitirá também essas
            informações a terceiros, caso seja imposto por lei ou no caso em que o
            terceiro processe esses dados por ordem do Google. O Google não ligará o
            endereço IP a outros dados. Avisa-se que, neste caso, a totalidade das
            funções do Website se apresentará indisponível. Ao utilizar as Plataformas
            e/ou Websites, o USUÁRIO concorda com o processamento dos dados levantados
            pelo Google na forma e na finalidade anteriormente descritas.
        </p>
        <p>
            <strong></strong>
        </p>
        <p>
            Caso deseje gerenciar os Cookies instalados pelo Google no computador,
            acesse o link
            <a href="https://policies.google.com/technologies/cookies" target="_blank" rel="noopener">
                https://policies.google.com/technologies/cookies
            </a>
            .
        </p>
        <table border="1" cellspacing="0" cellpadding="0" width="70%">
            <tbody>
                <tr>
                    <td colspan="3" valign="top">
                        <p align="center">
                            <strong>Cookies utilizados no Website</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p align="center">
                            <strong>Nome</strong>
                        </p>
                    </td>
                    <td valign="top">
                        <p align="center">
                            <strong>Classificação e validade</strong>
                        </p>
                    </td>
                    <td valign="top">
                        <p align="center">
                            <strong>Finalidade</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                            sessionid
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Cookie de Sessão |Expira quando USUÁRIO encerra a sessão de
                            navegação.
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Utilizado para relacionar a sessão do USUÁRIO ao servidor,
                            não há identificação.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                            csrftoken
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Cookie de Sessão |Expira quando USUÁRIO encerra a sessão de
                            navegação.
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Utilizado para garantir que o envio de formulários é feito
                            pelo USUÁRIO que está com a sessão ativa, não há
                            identificação.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                            _ga
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Cookie persistente | Expira em 2 anos.
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Principal cookie usado pelo Google Analytics Este cookie
                            tem a função de registrar um ID que é utilizado para gerar
        dados estáticos quando o USUÁRIO visita os ambientes                    <em>online</em>.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                            NID
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Cookie persistente | Expira em seis meses.
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Contém ID exclusivo usado para lembrar as preferências e
                            outras informações, como idioma preferido, resultados
                            quantitativos de pesquisa e se o USUÁRIO quer que o filtro
                            SafeSearch do Google seja ativado
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>
                <strong>4. </strong>
                <strong>CONTROLE DE COOKIES</strong>
                <strong></strong>
            </p>
        </div>
        <p>
            A qualquer momento, o USUÁRIO poderá revogar a autorização quanto ao uso de
            Cookies, utilizando, para tanto, as configurações do navegador de
            preferência. Contudo, alerta-se que, de acordo com a escolha realizada,
            certas funcionalidades dos serviços poderão não funcionar idealmente, bem
            como aspectos de segurança das informações e prevenção a fraudes poderão
            ser impactadas. Em outros casos, a revogação da autorização de uso de
            Cookies tornará indisponível as funções do Website.
        </p>
        <p>
            Caso o USUÁRIO deseje remover os Cookies instalados no computador, pode
            configurá-los manualmente por meio das configurações disponíveis no
            navegador, conforme, por exemplo, as instruções do
            <a
            href="https://support.google.com/chrome/answer/95647?hl=pt&co=GENIE.Platform%3DDesktop"
            target="_blank" rel="noopener"
            >
                Google Chrome
            </a>
            ,
            <a
                href="https://support.mozilla.org/pt-BR/kb/limpe-cookies-e-dados-de-sites-no-firefox"
                target="_blank" rel="noopener"
            >
                Mozilla Firefox
            </a>
            , ou
            <a
                href="https://support.microsoft.com/pt-br/help/4027947/microsoft-edge-delete-cookies"
                target="_blank" rel="noopener"
            >
                Internet Explorer
            </a>
            .
        </p>
        <div>
            <p>
                <strong>5. </strong>
                <strong>Atualizações </strong>
                <strong>à presente </strong>
                <strong>política de privacidade?</strong>
            </p>
        </div>
        <p>
            O BOB’S reserva-se o direito de modificar essa Política de Privacidade a
            qualquer momento, sendo, portanto, recomendável que o USUÁRIO revise-a com
            frequência. As alterações surtirão efeitos a partir da
            publicação/atualização no Website. O BOB’S compromete-se a publicar a
            Política de Privacidade atualizada, indicando as últimas atualizações. Caso
            determinada alteração tenha impacto significativo, será considerado os
            esforços necessários para tal informação.
        </p>
        <p>
            <strong>Última atualização: 28/01/2022</strong>
            <strong></strong>
        </p>
        <div>
            <p>
                <strong>6. </strong>
                <strong>CONTATO PARA </strong>
                <strong>informações sobre dados pessoais?</strong>
                <strong></strong>
            </p>
        </div>
        <p>
            O USUÁRIO poderá entrar em contato conosco para tirar dúvidas, solicitar
            esclarecimentos, emitir comentários e/ou sugestões relacionadas a esta
            Política, bem como para requisitar informações acerca do tratamento dos
            Dados Pessoais, diretamente para o Encarregado de Dados (Data Protection
            Officer | DPO), que está à disposição nos seguintes endereços de contato:
        </p>
        <p>
            <strong>Endereço para correspondências:</strong>
            Rua Voluntários da Pátria, nº 89, sala 901 – parte, Botafogo, Rio de
            Janeiro/RJ - CEP 22.270-000
        </p>
        <p>
            <strong>E-mail para contato/</strong>
            <strong>exercer direito de Titular:</strong>
            <a href="mailto:dpo@bffc.com.br">dpo@bffc.com.br</a>
        </p>
        <p>
            <u></u>
        </p>

      </div>
    </div>
  </div>
</div>


{% endblock %}
