{% load static %}
<!doctype html>
<html class="no-js" lang="{{ text.lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ text.title }}</title>
  <meta name="description" content="Chegou Bob's em casa. Um novo jeito de consumir Bob's. Leva e experimenta!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/fonts-v2.css' %}">
  <link rel="stylesheet" href="{% static 'css/page-v4.css' %}">
  {% block stylesheet %}{% endblock %}
  <meta name="theme-color" content="#fafafa">
  {% block meta %}{% endblock %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ config.GTM_CODE }}');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- header -->
  <div class="header-area">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#">
          <img src="{% static 'img/logo.png'%}" class="navbar-brand-logo" alt="Logo" />
        </a>
        <a class="navbar-button visible-gt-767" href="/#ondeencontrar">
          <img src="{% static 'img/onde-encontrar.png' %}">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#linha">Conheça a Linha</a></li>
          <li><a href="/#ondeencontrar">Onde encontrar</a></li>
          <li><a href="/#contato">Contato</a></li>
        </ul>
      </div>
    </nav>
    <div class="waves-menu">
    </div>
  </div>

  <div class="body-area">
    {% block content %}{% endblock %}
    <!-- footer -->
    <div class="footer-section">
      <div class="footer-logo">
        <img src="{% static 'img/logo-footer.png'%}" class="footer-logo-image" />
      </div>

      <div class="footer-social">
        <a href="https://www.instagram.com/bobsbrasil/" target="_blank" rel="noopener">
          <img src="{% static 'img/instagram.png'%}" class="instagram" /> @Bobsbrasil
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://pt-br.facebook.com/bobsbrasil/" target="_blank" rel="noopener">
          <img src="{% static 'img/facebook.png'%}" class="facebook" /> Bob's Brasil
        </a>
        &nbsp;&nbsp;&nbsp;
        |
        &nbsp;&nbsp;&nbsp;
        <a href="https://bobs.com.br/" target="_blank" rel="noopener">
          Bobs.com.br
        </a>
      </div>

      <div class="footer-separator-wrapper">
        <div class="footer-separator">
        </div>
      </div>

      <div class="footer-social">
        <span>
            &copy; {{ text.copyright_tmp }}
            &nbsp;|&nbsp;
        </span>

        <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a> |
        <a href="/politica-de-cookies" target="_blank">Política de Cookies</a> |
        <a href="/termos-de-uso" target="_blank">Termos de Uso</a></li>
      </div>
      
      <!--
      <div class="footer-copyright">
        &copy; {{ text.copyright_tmp }}
      </div>
      -->

      <div class="footer-ciclo">
        <p>
          <br />
          Desenvolvido por: <a href="http://www.ciclocomunicacao.com.br/" target="_blank" rel="noopener"><img src="{% static 'img/ciclo-v1.png' %}" width="80px" alt="Visitar site da Agência Ciclo"></a>
          <br />
        </p>
      </div>
    </div>
  </div>

  <div class="cookie-disclaimer">
    <div class="cookie-close accept-cookie"><i class="fa fa-times"></i></div>
    <div class="container">
      <div class="cookies-title">Este site utiliza Cookies</div>
      <div class="cookies-text">
        Este site utiliza cookies para oferecer uma melhor experiência a você.
        <br />
        Ao continuar navegando, você concorda com as Políticas de <a href="/politica-de-cookies" target="_blank" rel="noopener">Cookies</a>
        e <a href="/politica-de-privacidade" target="_blank" rel="noopener">Privacidade</a>.
      </div>
      <div class="cookies-button">
        <span class="cookies-btn accept-cookie">OK, Entendi!</span>
      </div>
    </div>
  </div>

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <script>
    $('.navbar-nav>li>a').on('click', function(){
      $('.navbar-collapse').collapse('hide');
    });

    $(document).ready(function() {
      var cookie = false;
      var cookieContent = $('.cookie-disclaimer');
      var cookieName = "bobs_disclaimer";

      checkCookie();

      if (cookie === false) {
        cookieContent.show();
      }

      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
      }

      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i].trim();
          if (c.indexOf(name) === 0) return c.substring(name.length, c.length);
        }
        return "";
      }

      function checkCookie() {
        var check = getCookie(cookieName);
        if (check !== "") {
          return cookie = true;
        } else {
            return cookie = false; //setCookie(cookieName, "accepted", 365);
        }

      }
      $('.accept-cookie').click(function () {
        setCookie(cookieName, "accepted", 365);
        cookieContent.hide(500);
      });
    });
  </script>
  {% block script %}{% endblock %}
  <script src="https://plugin.handtalk.me/web/latest/handtalk.min.js"></script>
  <script>
  var ht = new HT({
    token: "7338000866d49851448ba109302dd681",
    avatar: "MAYA"
  });
  </script>
</body>
</html>
