
{% extends "page.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/static-v1.css' %}">
{% endblock %}

{% block content %}

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="text-col col-sm-12 col-md-12">
        <p class="text-title">
          Política de Privacidade
        </p>
        <p>
          A <strong>CFK COMÉRCIO DE ALIMENTOS LTDA.</strong> reconhece a importância
          da privacidade e tem como missão estabelecer uma relação de transparência
          com seus clientes e usuários a respeito do tratamento de dados pessoais.
        </p>
        <p>
          Esta Política de Privacidade (“Política”) contém informações sobre o
        tratamento dos dados pessoais dos usuários e visitantes do site <a href="https://www.bobsemcasa.com.br/" target="_blank" rel="noopener">www.bobsemcasa.com.br</a>. Este
          documento descreve os dados pessoais que coletamos, como eles são tratados
          e os seus direitos em relação a esses dados. Recomendamos a leitura atenta.
        </p>
        <p>
          Esta Política de Privacidade se aplica a todos os clientes, potenciais
        clientes, usuários e visitantes do site <a href="https://www.bobsemcasa.com.br/" target="_blank" rel="noopener">www.bobsemcasa.com.br</a>. A nossa
          Política de Privacidade é regularmente revisada para assegurar a
          conformidade com leis, regulamentações e novas tecnologias, refletindo
          possíveis mudanças nas nossas operações e práticas. É importante que você
          acesse regularmente esta política e observe a sua data de atualização.
        </p>
        <p>
          Após a leitura desta Política de Privacidade, caso queira se comunicar
          conosco sobre seus dados pessoais, você pode contatar o nosso departamento
        encarregado por meio do e-mail    <a href="mailto:dpo@bffc.com.br">dpo@bffc.com.br</a> para exercer os seus
          direitos relacionados aos seus dados pessoais.
        </p>
        <p>
          <strong>1. </strong>
          <strong>
              Conceitos básicos: O que eu preciso saber para compreender esta
              política?
          </strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          <strong>Agentes de tratamento</strong>
          : o controlador e o operador;
        </p>
        <p>
          <strong>Autoridade Nacional de Proteção de Dados (ANPD)</strong>
          : órgão da administração pública federal responsável por zelar, implementar
          e fiscalizar o cumprimento da LGPD em todo o território nacional.
        </p>
        <p>
          <strong>Banco de dados</strong>
          : conjunto estruturado de dados pessoais, estabelecido em um ou em vários
          locais, em suporte eletrônico ou físico;
        </p>
        <p>
          <strong>Bases legais ou Base Legal:</strong>
          São as hipóteses legais que autorizam o tratamento de dados pessoais, por
          exemplo: (i) consentimento; (ii) cumprimento de obrigação legal ou
          regulatória; (iii) tratamento e uso compartilhado de dados necessários à
          execução de políticas públicas previstas em leis e regulamentos ou
          respaldadas em contratos, convênios ou instrumentos congêneres; (iv)
          realização de estudos por órgão de pesquisa; (v) execução de contrato ou de
          procedimentos preliminares relacionados a contrato do qual seja parte o
          titular; (vi) exercício regular de direitos em processo judicial,
          administrativo ou arbitral; (vii) proteção da vida ou da incolumidade
          física do titular ou de terceiro; (viii) tutela da saúde, exclusivamente,
          em procedimento realizado por profissionais de saúde, serviços de saúde ou
          autoridade sanitária; (ix) atender aos interesses legítimos do controlador
          ou de terceiros; e (x) proteção do crédito.
        </p>
        <p>
          <strong>Consentimento</strong>
          : manifestação livre, informada e inequívoca pela qual o titular concorda
          com o tratamento de seus dados pessoais para uma finalidade determinada;
        </p>
        <p>
          <strong>Controlador</strong>
          : pessoa natural ou jurídica, de direito público ou privado, a quem
          competem as decisões referentes ao tratamento de dados pessoais;
        </p>
        <p>
          <strong>Dados anonimizados</strong>
          : dado relativo ao titular que não possa ser identificado, considerando a
          utilização de meios técnicos razoáveis e disponíveis na ocasião de seu
          tratamento;
        </p>
        <p>
          <strong>Dados pessoais</strong>
          : toda e qualquer informação que possa identificar ou tornar identificável
          uma pessoa natural (Titular); em outras palavras, é considerada
          “identificável” uma pessoa singular que possa ser identificada, direta ou
          indiretamente, por exemplo, por referência a um número de identificação ou
          a um ou mais fatores específicos de sua identidade física, fisiológica,
          mental, econômica, cultural ou social;
        </p>
        <p>
          <strong>Dados sensíveis</strong>
          : todo dado pessoal sobre origem racial ou ética, convicção religiosa,
          opinião política, filiação a sindicato ou a organização de caráter
          religioso, filosófico ou político, dado referente à saúde ou à vida sexual
          e dado genético ou biométrico, quando vinculado a uma pessoa natural;
        </p>
        <p>
          <strong>LGPD: </strong>
        A LGPD é a Lei Geral de Proteção de Dados Pessoais (Lei Federal 13.709/18);    <strong></strong>
        </p>
        <p>
          <strong>Operador</strong>
          : pessoa natural ou jurídica, de direito público ou privado, que realiza o
          tratamento de dados pessoais em nome do controlador;
        </p>
        <p>
          <strong>Titular</strong>
          : titular é a pessoa natural a quem se referem os dados pessoais que são
          objeto de tratamento;
        </p>
        <p>
          <strong>Tratamento</strong>
          : o termo “tratamento” abrange uma série de operações efetuadas sobre dados
          pessoais, incluindo a coleta, registro, organização, produção, recepção,
          estruturação, conservação, adaptação ou alteração, recuperação,
          classificação, a consulta, utilização, armazenamento, avaliação ou controle
          da informação, divulgação por transmissão, difusão ou qualquer outra forma
          de disponibilização, a comparação ou interconexão, limitação, descarte,
          apagamento ou destruição de dados pessoais.
        </p>
        <p>
          <strong>2. </strong>
          <strong>Coleta de Dados Pessoais </strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          Os tipos de Dados Pessoais e a forma de coleta dependem de como você se
          relaciona com a gente e por quê.
        </p>
        <p>
          Para que possamos prestar os nossos serviços, torna-se imprescindível a
          coleta de algumas informações a seu respeito. Para tanto, dependendo do
          tipo de relacionamento estabelecido, poderemos vir a coletar dados pessoais
          fornecidos diretamente por você, por terceiros ou coletados de outra forma,
          de acordo com o serviço prestado.
        </p>
        <p>
          <strong>2.1. Formas de coleta</strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          Em geral, coletamos dados pessoais das seguintes formas:
        </p>
        <p>
          (i) <strong>Dados pessoais fornecidos diretamente por você</strong>: dados
          pessoais inseridos ou encaminhados ao acessar um dos nossos canais (sites
          ou aplicativos) ou a contratar produtos e/ou serviços oferecidos.
        </p>
        <p>
          (ii) <strong>Dados pessoais fornecidos por terceiros</strong>: recebimento
          dos seus dados pessoais por intermédio de terceiros, sejam parceiros ou
          prestadores de serviços que possuam algum relacionamento com você. É
          possível, ainda, a coleta dos seus dados provenientes de bases públicas,
          sempre respeitando a sua privacidade.
        </p>
        <p>
          (iii) <strong>Dados pessoais coletados de outra forma</strong>: dados
        pessoais coletados através de algumas tecnologias de mercado, como    <em>cookies, </em>com o propósito de melhorar a sua experiência de
          navegação em nossos serviços, de acordo com os seus hábitos e as suas
          preferências.
        </p>
        <p>
          <strong>2.2. Tipos de dados coletados </strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          Os Dados Pessoais que tratamos variam de acordo as finalidades de uso,
          inclusive as indicadas nessa Política, e com as atividades que realizamos.
          Esses Dados Pessoais podem incluir, dentre outros, os seguintes
        </p>
        <p>
          <strong>Dados pessoais</strong>
          : nome, telefone e e-mail.
        </p>
        <p>
          <strong>Informações sobre hábitos de navegação</strong>
          : páginas e funcionalidades acessadas em nossos Sites e Aplicativos,
          quantidade de cliques, páginas e aplicativos que originaram os respectivos
          acessos (por exemplo, se você acessar um site que possuir um link para os
          nossos Sites e Aplicativos, ou se você acessar páginas de terceiros a
          partir de links nos nossos Sites e Aplicativos).
        </p>
        <p>
          Nós não pretendemos coletar diretamente Dados Pessoais de crianças ou
          adolescentes, exceto mediante o consentimento específico e em destaque de
          pelo menos um dos pais ou responsáveis legais.
        </p>
        <p>
          <strong>2.3. Principais Finalidades dos Tratamentos </strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          Os tratamentos de dados pessoais podem ter finalidade diversas. Assim,
          apresentamos abaixo, de forma exemplificativa, as principais finalidades
          para as quais trataremos suas informações pessoais:
        </p>
        <p>
          • Para execução dos serviços, produtos oferecidos;
        </p>
        <p>
          • Para o relacionamento e oferecimento de informações relacionadas aos
          produtos e serviços;
        </p>
        <p>
          • Para oferecer assistência à você, incluindo o processamento de opiniões,
          dúvidas ou sugestões;
        </p>
        <p>
          • Para o cumprimento de obrigação legal ou regulatória, tais como, mas não
          se limitando: (i) resoluções; (ii) circulares; (iii) atos normativos; (iv)
          comunicados de órgãos competentes;
        </p>
        <p>
          • Para estabelecimento de canal direto de comunicação e resposta às
          solicitações de usuários;
        </p>
        <p>
          • Para o exercício regular de direitos em processo judicial, administrativo
          ou arbitral, (i) na condução dos processos de recebimento de reclamações em
          ouvidorias; (ii) no recebimento e elaboração de respostas a reclamações
          apresentadas aos órgãos de defesa do consumidor; e (iii) no armazenamento
          de informações para defesa em processos judiciais, administrativos ou
          arbitrais;
        </p>
        <p>
          • Na persecução do interesse legítimo da empresa e de terceiros, sempre no
          limite de sua expectativa, e nunca em prejuízo de seus interesses, direitos
          e liberdades fundamentais, por exemplo, (i) na construção e avaliação do
          perfil dos clientes, para oferecimento de produtos personalizados e
          compatíveis com a sua necessidade (podendo ser alcançado a partir (a) da
          análise de seus hábitos e preferências nos vários canais de interação com a
          empresa; (b) do compartilhamento de dados com outras empresas do grupo,
          principalmente quando você é cliente ou potencial cliente dessa outra
          entidade; (ii) na implantação e desenvolvimento de nossos produtos e
          serviços; (iii) no estabelecimento de estatísticas, testes e avaliações
          para pesquisa e desenvolvimento, visando o gerenciamento e avaliação de
          riscos do negócio, a melhoria e/ou criação de novos produtos; (iv) em caso
          de reclamação, quando há citação da empresa em redes sociais ou plataformas
          específicas, com a finalidade de resolver os pontos reclamados, bem como
          adotar as medidas necessárias para resolver a situação da melhor maneira
          possível;
        </p>
        <p>
          • Para a condução de atividades que visam prevenir a ocorrência de fraudes;
        </p>
        <p>
          • Por meio de autorização concedida por você, como em processos de (i)
          envio de marketing direito de produtos próprios ou de terceiros; (ii) em
          processos de relacionamento com os clientes, quando a atividade envolver
          dados pessoais sensíveis;
        </p>
        <p>
          • Ocasionalmente, podemos enviar comunicados e pesquisas de satisfação como
          parte do nosso processo de feedback do cliente. É do nosso legítimo
          interesse obter tais opiniões para assegurar que os nossos
          serviços/produtos estão sendo prestados no mais alto nível;
        </p>
        <p>
          • Para aprimorar o produto e/ou serviço oferecido, facilitar, agilizar e
          cumprir os compromissos estabelecidos entre o usuário e a empresa, melhorar
          a experiência dos usuários e fornecer funcionalidades específicas a
          depender das características básicas do usuário;
        </p>
        <p>
          • Para compreender como o usuário utiliza os serviços da plataforma, para
          ajudar no desenvolvimento de negócios e técnicas;
        </p>
        <p>
          • Para apresentar anúncios personalizados para o usuário com base nos dados
          fornecidos;
        </p>
        <p>
          • Para aprimorar as iniciativas comerciais e promocionais, nos limites
          permitidos pela lei, e proporcionar experiências personalizadas para você,
          por exemplo, por meio de mensagens sobre novos serviços, publicidade,
          promoções, marketing por e-mail, definição de perfil de consumo, cruzamento
          de dados para criação de novas campanhas, ou outras formas de marketing
          relacionadas ao nosso serviço;
        </p>
        <p>
          • Permitir o envio de avisos referentes aos nossos serviços, bem como
          nossas políticas internas, a fim de permitir que você explore todas as
          funcionalidades oferecidos por nós; e
        </p>
        <p>
          • Compartilhar as informações com terceiros e/ou com outras empresas do
          grupo econômico na medida do necessário para viabilizar a prestação de
          serviços e respeitando os limites impostos pela legislação aplicável.
        </p>
        <p>
          <strong>3. </strong>
          <strong>Por quanto tempo os dados pessoais ficam armazenados?</strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          Os seus Dados Pessoais são armazenados somente pelo tempo que for
          necessário para cumprir com as finalidades para as quais foram coletados,
          salvo se houver qualquer outra razão para sua manutenção como, por exemplo,
          cumprimento de quaisquer obrigações legais, regulatórias, contratuais,
          entre outras, desde que fundamentadas com uma Base Legal. Os dados podem
          ser removidos ou anonimizados a pedido do usuário, conforme informações
          abaixo acerca dos direitos dos titulares e formas de contato.
        </p>
        <p>
          <strong>4. </strong>
          <strong>Segurança dos dados pessoais armazenados</strong>
        </p>
        <p>
          Comprometemo-nos a aplicar as medidas técnicas e organizacionais aptas a
          proteger os dados pessoais de acessos não autorizados e de situações de
          destruição, perda, alteração, comunicação ou difusão de tais dados. Para
          garantir a sua privacidade e a proteção dos seus Dados Pessoais, estamos
          buscando adotar práticas de segurança adequadas para nosso mercado, dentre
          as quais:
        </p>
        <p>
          • Criptografia nos ambientes das nossas Plataformas;
        </p>
        <p>
          • Treinamentos e políticas de conscientização para mantermos nossos
          colaboradores atualizados sobre como evitar riscos ao Titular dos Dados
          Pessoais e identificar ameaças e atividades maliciosas;
        </p>
        <p>
          • Controles e privilégios de acesso a Dados Pessoais, de modo que cada
          colaborador somente pode acessar os dados estritamente necessários para o
          desempenho de suas funções; e
        </p>
        <p>
          • Controle e monitoramento preventivo de incidentes de segurança, incluindo
          vazamento de dados, realizado pelo nosso time de Segurança da Informação e
          por ferramentas automatizadas de segurança reconhecidas pelo mercado.
        </p>
        <p>
          Nós trabalhamos para proteger seus Dados Pessoais, mas, infelizmente, não
          podemos garantir total segurança.<strong> </strong>Entrada ou uso não
          autorizado de terceiros em contas, falha de hardware ou software que não
          esteja sob controle e outros fatores podem comprometer a segurança dos seus
          Dados Pessoais. Por isso, sua atuação é fundamental para a manutenção de um
          ambiente seguro para todos.
        </p>
        <p>
          Você pode nos ajudar adotando boas práticas de segurança em relação aos
          seus dados (como, por exemplo, não compartilhar senhas com terceiros) e,
          caso você identifique ou tome conhecimento de algo que comprometa a
          segurança dos seus dados, por favor entre em contato conosco por meio dos
          canais de contato mencionados abaixo.
        </p>
        <p>
          Envidaremos todos os esforços para comunicar o quanto antes eventuais casos
          de violação de segurança de seus dados pessoais.
        </p>
        <p>
          <strong>5. </strong>
          <strong>Compartilhamento de dados</strong>
        </p>
        <p>
          Podemos compartilhar dados pessoais com terceiros ou parceiros de negócios
          que sejam relevantes para fins de viabilizar a utilização do website e dos
          aplicativos ou viabilizar a prestação dos serviços. Em geral, o
          compartilhamento ocorre com base nos seguintes critérios e para as
          finalidades descritas abaixo:
        </p>
        <p>
          • Com nossos parceiros e fornecedores: podemos compartilhar dados
          pessoais que coletamos a partir do site/plataformas com parceiros e/ou
          fornecedores para fins de: (a) fornecimento de software, sistemas
          antifraude e/ou ferramenta para gestão de clientes, (b) processamento
          das transações por cartão de crédito ou demais meios de pagamento, (c)
          geração de leads, prospecção de clientes e desenvolvimento de ações de
          marketing, (d) prestação de serviços logísticos dos pedidos realizados
          através do site e plataformas; (e) auxílio no gerenciamento de
          promoções; (f) prestação de serviços de atendimento ao consumidor; e
          (f) gestão e aprimoramento do website e plataformas. Nossos parceiros e
          fornecedores somente são autorizados a utilizar os dados pessoais para
          os fins específicos que eles foram contratados, portanto, eles não irão
          utilizar os seus dados pessoais para outras finalidades além as da
          prestação dos serviços previstos contratualmente.
        </p>
        <p>
          • Para resguardar e proteger direitos: reservamo-nos o direito de acessar,
          ler, preservar e fornecer quaisquer dados pessoais e informações, incluindo
          interações suas, caso sejam necessários para cumprir uma obrigação legal ou
          uma ordem judicial; para fazer cumprir ou aplicar outros acordos e/ou
          contratos; ou proteger nossos direitos, propriedade ou segurança, bem como
          de nossos funcionários e/ou clientes.
        </p>
        <p>
          • Requisição de autoridade competente: podemos compartilhar seus dados
          pessoais com terceiros (incluindo órgãos governamentais) a fim de responder
          a investigações, medidas judiciais, processos judiciais ou investigar,
          impedir ou adotar medidas acerca de atividades ilegais, suspeita de fraude
          ou situações que envolvam ameaças em potencial à segurança física de
          qualquer pessoa ou se de outra maneira exigido pela legislação.
        </p>
        <p>
          • Para o nosso Grupo econômico: podemos compartilhar os dados pessoais dos
          Titulares com as demais empresas pertencentes ao Grupo BFFC, com a
          finalidade estritamente necessária para viabilizar a fabricação e a entrega
          de produtos e/ou a prestação dos nossos serviços ao Cliente.
        </p>
        <p>
          • Novos negócios: se estivermos envolvidos em uma fusão, aquisição ou venda
          de todos ou de parte de seus ativos, os dados pessoais poderão ser
          transferidos para a empresa ou pessoa adquirente. Em circunstâncias nas
          quais a identidade do controlador de seus dados pessoais se alterar como
          resultado de qualquer transação, realizaremos a notificação de quaisquer
          escolhas que os titulares possam ter acerca de seus dados pessoais.
        </p>
        <p>
          No decorrer do uso de nossos serviços, você pode se deparar com links para
          outros sites e/ou serviços de terceiros. Ao ser redirecionado para um
          aplicativo ou site de terceiros, você não será mais regido por essa
          Política de Privacidade ou pelos demais instrumentos contratuais
          eventualmente aplicáveis. Não somos responsáveis pelas práticas de
          privacidade de outros sites e incentivamos a sua leitura.
        </p>
        <p>
          <strong>6. </strong>
          <strong>Transferência Internacional</strong>
        </p>
        <p>
          Os seus Dados Pessoais poderão ser transferidos e tratados por prestadores
          de serviços em outros países, incluindo prestadores de serviços em nuvem,
          para as finalidades previstas nesta Política de Privacidade Os dados
          pessoais transferidos podem se sujeitar às leis de jurisdições nas quais o
          fornecedor de serviço ou suas instalações estão localizados. De todo modo,
          utilizamos serviços de terceiros que buscam adotar padrões adequados em
          privacidade e proteção de dados pessoais.
        </p>
        <p>
          <strong>7. </strong>
          <strong>
              Quais são os meus direitos como titular de dados pessoais e como posso
              exercê-los?
          </strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          São garantidos ao usuário a possibilidade de apresentar solicitações,
          baseadas nos seguintes direitos:
        </p>
        <p>
          • Acesso e confirmação da existência de tratamento dos dados: solicitar uma
          cópia: (i) das categorias e dos dados pessoais coletados sobre você; (ii)
          das categorias e das fontes específicas das quais os dados são coletados;
          (iii) da finalidade da coleta; e (iv) das categorias e dos terceiros
          específicos com quem compartilhamos dados pessoais;
        </p>
        <p>
          • Atualização, correção de dados incompletos, inexatos ou desatualizados;
        </p>
        <p>
          • Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos
          ou tratados em desconformidade com o disposto na LGPD. Neste caso,
          informaremos a correção e atualização aos terceiros com os quais os dados
          pessoais tenham sido compartilhados;
        </p>
        <p>
          • Portabilidade dos dados, observadas as normas aplicáveis e os segredos
          comercial e industrial;
        </p>
        <p>
          • Informação das entidades públicas e privadas com as quais o Controlador
          realizou uso compartilhado de dados;
        </p>
        <p>
          • Informação sobre a possibilidade de não fornecer consentimento e sobre as
          consequências da negativa;
        </p>
        <p>
          • Revogação de consentimento, que poderá ser realizada a qualquer momento e
          sem ônus, mediante manifestação expressa. Você tem o direito de ser
          informado se o fornecimento de Dados Pessoais é um requisito estatutário ou
          contratual ou um requisito necessário para celebrar um contrato, bem como
          se o titular está obrigado a fornecer os Dados Pessoais e as possíveis
          consequências do não fornecimento de tais dados;
        </p>
        <p>
          • Solicitação de eliminação dos dados pessoais tratados com o
          consentimento, exceto nas hipóteses em que a manutenção dos dados é
          necessária ou permitida pela legislação. Neste caso, informaremos sua
          decisão aos terceiros com quem os dados pessoais tenham sido
          compartilhados;
        </p>
        <p>
          • Oposição a tratamento realizado com fundamento em outras bases legais, em
          caso de descumprimento da LGPD, ressaltando que pode haver situações em que
          poderemos continuar a realizar o tratamento e recusar o seu pedido de
          oposição;
        </p>
        <p>
          • Solicitação de revisão de decisões tomadas unicamente com base em
          tratamento automatizado de dados pessoais que o afetem, como decisões de
          crédito, cálculo de risco ou de probabilidade, ou outro semelhante,
          realizado pelo tratamento de dados pessoais utilizando regras, cálculos,
          instruções, algoritmos, análises estatísticas, inteligência artificial,
          aprendizado de máquina, ou outra técnica computacional; e
        </p>
        <p>
          • Solicitação de cancelamento do envio de ofertas direcionadas de produtos
          e serviços pelos nossos canais.
        </p>
        <p>
          Para exercer seus direitos sobre os seus dados pessoais, você pode entrar
          em contato conosco através dos endereços mencionados abaixo.
        </p>
        <p>
          Nós empenharemos todos os esforços para fornecer informações o mais rápido
          possível, de forma transparente, inteligível e acessível, em linguagem
          clara e simples. Por vezes, somos obrigados por lei e contratos a notificar
          terceiros sobre sua solicitação ou omitir informações que estejam sob
          segredo comercial e/ou de negócios. Podemos requisitar informações
          adicionais para se certificar da autenticidade da sua solicitação.
        </p>
        <p>
          Podemos manter alguns dados e/ou continuar a realizar o tratamento, mesmo
          no caso de solicitação de eliminação, oposição, bloqueio ou anonimização,
          em circunstâncias específicas, como para cumprimento de obrigações legais,
          contratuais e regulatórias, para resguardar e exercer direitos da empresa,
          dos usuários e clientes, para prevenção de atos ilícitos e em processos
          judiciais, administrativos e arbitrais, inclusive por questionamento de
          terceiros sobre suas atividades e em outras hipóteses previstas em lei.
        </p>
        <p>
          <strong>8. </strong>
          <strong>Cookies ou dados de navegação</strong>
        </p>
        <p>
          Utilizamos cookies para facilitar o uso e melhor adaptar seu website e
          aplicações aos interesses e necessidades de seus usuários, bem como para
          auxiliar e melhorar suas estruturas e conteúdo. Os cookies também podem ser
          utilizados para acelerar o carregamento de partes específicas do website ou
          suas atividades, bem como personalizar e melhorar experiências futuras em
          nossos serviços.
        </p>
        <p>
          Por meio de cookies, o site armazena informações sobre as atividades do
          navegador, incluindo endereço IP e a página acessada. Esses registros de
          atividades (<em>logs</em>), que poderão compreender dados como as ações
          efetuadas no site, as páginas acessadas, as datas e horários de cada ação,
          as informações sobre o dispositivo utilizado, versão de sistema
          operacional, navegador, dentre outros aplicativos instalados, serão
          utilizados apenas para fins estatísticos e de métricas dos serviços
          disponibilizados, para a investigação de fraudes ou de alterações indevidas
          em seus sistemas e cadastros, não tendo como finalidade o fornecimento dos
          dados a terceiros sem autorização expressa e destacada do usuário.
        </p>
        <p>
          <strong>Cookies necessários:</strong>
          Os cookies são essenciais para que o website da empresa permita que você
          navegue corretamente, bem como faça o uso de todas as funcionalidades
          disponíveis.
        </p>
        <p>
          <strong>Cookies de marketing: </strong>
          Os cookies são utilizados para fornecer mais conteúdo relevante e do
          interesse do usuário. Podem ser utilizados para apresentar publicidade com
          um maior direcionamento ou limitar o número que esta é veiculada. Além de
          permitir a medição da eficácia de uma campanha publicitária lançada.
        </p>
        <p>
          <strong>Cookies estatísticos:</strong>
          Os cookies ajudam-nos a entender como os visitantes interagem com a página
          da empresa, fornecendo informações sobre as áreas visitadas, o tempo de
          visita ao site e quaisquer problemas encontrados, como mensagens de erro.
        </p>
        <p>
          <strong>Cookies funcionais:</strong>
          Os cookies permitem que o site se lembre de suas escolhas, para
          proporcionar uma experiência personalizada, além disso, possibilitam que os
          usuários assistam vídeos e utilizem ferramentas sociais, campos para
          comentários, fóruns, dentre outros.
        </p>
        <p>
          A qualquer momento, o usuário poderá revogar a sua autorização quanto à
          utilização de cookies, utilizando, para tanto, as configurações de seu
          navegador de preferência. Contudo, alertamos que, de acordo com a escolha
          realizada, certas funcionalidades dos nossos serviços poderão não funcionar
          da maneira idealmente esperada, bem como aspectos de segurança das
          informações e prevenção a fraudes poderão ser impactadas.
        </p>
        <p>
          Caso deseje remover os cookies instalados no seu computador, você pode
          eliminá-los manualmente por meio das configurações disponíveis no seu
          navegador, utilizando, por exemplo, as instruções do
          <a
              href="https://support.google.com/chrome/answer/95647?hl=pt&co=GENIE.Platform%3DDesktop"
              target="_blank" rel="noopener">
              Google Chrome
          </a>
          ,
          <a
              href="https://support.mozilla.org/pt-BR/kb/limpe-cookies-e-dados-de-sites-no-firefox"
              target="_blank" rel="noopener"
          >
              Mozilla Firefox
          </a>
          ,
          <a
              href="https://support.microsoft.com/pt-br/help/4027947/microsoft-edge-delete-cookies"
              target="_blank" rel="noopener"
          >
              Microsoft Edge
          </a>
          ou
          <a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac" target="_blank" rel="noopener">

              Safari
          </a>
          .
        </p>
        <p>
          <strong>9. </strong>
          <strong>Alterações para essa política de privacidade</strong>
        </p>
        <p>
          <strong></strong>
        </p>
        <p>
          Reservamos o direito de modificar essa Política de Privacidade a qualquer
          momento, então, é recomendável que o usuário e visitante revise-a com
          frequência. As alterações e esclarecimentos vão surtir efeito imediatamente
          após sua publicação na plataforma. Quando realizadas alterações os usuários
          serão notificados. Ao utilizar o serviço ou fornecer informações pessoais
          após eventuais modificações, o usuário e visitante demonstra sua
          concordância com as novas normas.
        </p>
        <p>
          <strong>10. </strong>
          <strong>Jurisdição para resolução de conflitos</strong>
        </p>
        <p>
          Para a solução de controvérsias decorrentes do presente instrumento será
          aplicado integralmente o Direito brasileiro.
        </p>
        <p>
          Os eventuais litígios deverão ser apresentados no foro da comarca do Rio de
          Janeiro/RJ, em que se encontra a nossa sede.
        </p>
        <p>
          <strong>11. </strong>
          <strong>Como falar conosco sobre dados pessoais? </strong>
        </p>
        <p>
          Se você acredita que seus Dados Pessoais foram usados de maneira
          incompatível com esta Política de Privacidade ou com as suas escolhas
          enquanto titular destes Dados Pessoais, ou, ainda, se você tiver dúvidas,
          comentários ou sugestões relacionadas a esta Política, entre em contato
          conosco. Nós temos um Encarregado (Data Protection Officer | DPO) que está
          à disposição nos seguintes endereços de contato:
        </p>
        <p>
          <strong>Endereço para correspondências:</strong>
          Rua Voluntários da Pátria, nº 89, sala 901 – parte, Botafogo, Rio de
          Janeiro/RJ - CEP 22.270-000
        </p>
        <p>
          <strong>E-mail para contato/</strong>
          <strong>exercer direito de Titular:</strong>
          <a href="mailto:dpo@bffc.com.br">dpo@bffc.com.br</a>
        </p>
        <p>
          <strong>Atualizada em: 28/01/2022</strong>
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
