
{% extends "page.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/static-v1.css' %}">
{% endblock %}

{% block content %}

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="text-col col-sm-12 col-md-12">
        <p class="text-title">
          Termos de Uso
        </p>

        <p>
            Os Termos de Uso apresentam as “Condições Gerais” aplicáveis ao uso da
        plataforma <em>online</em>    <a href="https://www.bobsemcasa.com.br/" target="_blank" rel="noopener">www.bobsemcasa.com.br</a>
        disponibilizada pela CFK COMÉRCIO DE ALIMENTOS LTDA., doravante denominado    <strong>Restaurante</strong>.
        </p>
        <p>
            Ao se cadastrar no Site, o <strong>USUÁRIO</strong> concorda e consente,
            expressamente, com todas as condições e termos nela contidos. A recusa
            destes Termos de Uso, por sua vez, impedirá a utilização das
            funcionalidades da <strong>Plataforma</strong>.
        </p>
        <p>
            <strong>Definições</strong>
        </p>
        <p>
            <strong></strong>
        </p>
        <p>
            Para os fins destes Termos considera-se:
        </p>
        <table border="1" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <p>
                            <strong>Usuário</strong>
                        </p>
                    </td>
                    <td valign="top">
                        <p>
        Toda e qualquer pessoa física que navegue ou faça uso da                    <em>Plataforma</em>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Plataforma</strong>
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Aplicativo/Site <strong>BOB’S EM CASA</strong> –
                            <a href="https://www.bobsemcasa.com.br/" target="_blank" rel="noopener">
                                www.bobsemcasa.com.br
                            </a>
                            – operado e disponibilizado pelo <em>Restaurante</em>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Criança</strong>
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Toda e qualquer pessoa física menor de 13 (treze) anos
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Adolescente</strong>
                        </p>
                    </td>
                    <td valign="top">
                        <p>
                            Toda e qualquer pessoa física entre 13 (treze) e 18
                            (dezoito) anos
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong>O que é e como funciona o Aplicativo/Site?</strong>
        </p>
        <p>
        O aplicativo/site <strong>BOB’S EM CASA</strong> é uma plataforma    <em>online</em> que se destina a oferecer ao <strong>USUÁRIO</strong> uma
            série de funcionalidades, tais quais (i) apresentação dos produtos da linha
            “Bob’s em Casa”; (ii) indicação dos locais onde encontrar os produtos da
            linha; (iii)
            oferecer assistência ao cliente, incluindo o processamento de opiniões,
            dúvidas ou sugestões
            ; e (iv) outros.
        </p>
        <p>
            <strong>USUÁRIOS</strong>
            menores de 18 (dezoito anos) poderão registrar-se desde que tenham sido
            devidamente representados (menores de 13 anos), assistidos (entre 13 e 16
            anos) ou tenham obtido o consentimento do(s) responsável(is) legal(is)
            (menores de 13 anos), conforme o procedimento para registro aplicável e
            disponibilizado pela Plataforma.
        </p>
        <p>
            Caso os pais e/ou o responsável legal do <strong>USUÁRIO</strong> menor de
        13 (treze) anos não concordem com algum ponto contido neste Termo de Uso, o    <strong>USUÁRIO MENOR</strong> deverá imediatamente interromper a
            utilização da Plataforma e de quaisquer ferramentas integradas. No eventual
            caso de fornecimento de dados de menores de 13 (treze) ano sem o
            consentimento dos pais e responsáveis, o <strong>Restaurante</strong>
            solicita aos respectivos responsáveis legais que entrem em contato através
            do canal: <a href="mailto:dpo@bffc.com.br">dpo@bffc.com.br</a> e manifestem
            o ocorrido. O <strong>Restaurante</strong> envidará esforços para a
            apuração e exclusão destas informações.
        </p>
        <p>
            A <strong>Plataforma</strong><strong> </strong>não solicita senha e/ou
            informações financeiras de <strong>USUÁRIOS</strong>, em hipótese alguma e
        em qualquer circunstância. O acesso e a utilização da    <strong>Plataforma</strong><strong> </strong>pelo <strong>USUÁRIO</strong>
            tem, como regra, caráter gratuito e não oneroso.
        </p>
        <p>
            <strong>Duração</strong>
        </p>
        <p>
            <strong></strong>
        </p>
        <p>
        O acesso à <strong>Plataforma</strong> é concedido ao<strong>USUÁRIO</strong> por prazo indeterminado. O    <strong>Restaurante</strong>, no entanto, está facultado a dar por
            terminado, suspender ou interromper unilateralmente, a qualquer momento e
        sem necessidade de prévio aviso, o acesso às funcionalidades da<strong>Plataforma</strong>, sem que qualquer indenização seja devida ao    <strong>USUÁRIO</strong>.
        </p>
        <p>
            O <strong>Restaurante</strong> reserva-se o direito de rejeitar cadastros
            incompletos, a qualquer momento e sem necessidade de prévio aviso, por
        iniciativa própria ou por exigência de um terceiro, àqueles    <strong>USUÁRIOS</strong> que descumprirem estes Termos ou que apresentarem
            comportamento suspeito ou indícios de fraudes contra terceiros.
        </p>
        <p>
            O <strong>USUÁRIO</strong> reconhece que o <strong>Restaurante </strong>
            poderá excluir do Site, a exclusivo critério, qualquer conteúdo, comentário
            ou informação que viole (i) a legislação brasileira; bem como (ii) a moral
            e os bons costumes geralmente aceitos; (iii) quaisquer direitos de
            terceiros (seja ofensivo, difamatório ou abusivo) ou (iv) de qualquer
            forma, as disposições destes Termos.
        </p>
        <p>
            <strong></strong>
        </p>
        <p>
            <strong>Responsabilidade do USUÁRIO</strong>
        </p>
        <p>
            Ao utilizar o Site do <strong>Restaurante </strong>e aceitar os presentes
            Termos, o <strong>USUÁRIO</strong> declara: (i) estar ciente de que é
            vedada a disponibilização de qualquer conteúdo ilícito, contrário à moral e
            aos bons costumes, ou que possa violar direitos de terceiros, bem como
            material que incorpore vírus ou elementos nocivos ao Site, ou que
            prejudique o sistema do <strong>Restaurante</strong>; e (ii) que toda e
            qualquer utilização do Site terá apenas finalidades lícitas, reconhecendo
        que o <strong>USUÁRIO</strong> é o único responsável pelo uso da    <strong>Plataforma</strong>, isentando o <strong>Restaurante</strong> de
            toda e qualquer responsabilidade por danos ou prejuízos decorrentes do uso.
        </p>
        <p>
            Ao aceitar estes Termos, o <strong>USUÁRIO</strong> assume, integral e
            exclusivamente, a responsabilidade (mesmo perante terceiros), por todo e
            qualquer dano ou prejuízo decorrente das informações fornecidas por ele
            consideradas incorretas, inverídicas ou incompletas, sujeitando-se às
            sanções aplicáveis nos termos da legislação brasileira, inclusive em âmbito
            civil e criminal. Válido lembrar que a declaração de informação incorreta
            de dados pessoais (tais como a idade) poderá, em tese, ser aplicada como
            crime punido pela legislação brasileira com pena de 1 a 5 anos de reclusão
            e multa (art. 299 do Código Penal Brasileiro).
        </p>
        <p>
            O <strong>USUÁRIO</strong> declara estar ciente de que todas as marcas, os
            nomes comerciais ou logotipos de qualquer espécie disponibilizados na
            Plataforma são de propriedade do <strong>Restaurante </strong>ou de
            terceiro que permitiu o uso, sem que a utilização e o acesso ao Site possam
            ser entendidos como autorização para que o <strong>USUÁRIO</strong> cite ou
            utilize tais marcas, nomes comerciais e logotipos.
        </p>
        <p>
            <strong>O que NÃO é de responsabilidade do Restaurante?</strong>
        </p>
        <p>
        Em decorrência de questões técnicas e operacionais, o    <strong>Restaurante</strong> não pode garantir a total disponibilidade,
        ausência de falhas e continuidade do funcionamento da    <strong>Plataforma</strong>, nem garante o aproveitamento do Site para a
            realização de qualquer atividade particular dos <strong>USUÁRIOS</strong>.
        </p>
        <p>
            Desse modo, o <strong>Restaurante </strong>não será, em hipótese alguma,
            responsável por quaisquer danos decorrentes da interrupção do acesso ao
            Site, ou por falhas de funcionamento destes, nem se responsabiliza pela
        perda da utilidade que os <strong>USUÁRIOS</strong> possam ter atribuído à    <strong>Plataforma</strong>, por eventuais falhas, nem por qualquer
            dificuldade de acesso.
        </p>
        <p>
            O <strong>Restaurante </strong>utiliza as melhores práticas recomendadas de
        mercado para manter seguros os dados inseridos pelos<strong>USUÁRIOS</strong> na <strong>Plataforma</strong>. Entretanto, o    <strong>Restaurante </strong>se exime de responsabilidade pelos danos e
            prejuízos de qualquer natureza que possam decorrer do conhecimento que
            terceiros não autorizados possam ter de quaisquer das informações
        repassadas, em decorrência de falha exclusivamente atribuível aos<strong>USUÁRIOS</strong>, que distancie a qualquer controle razoável do    <strong>Restaurante</strong>.
        </p>
        <p>
            Caso o <strong>Restaurante </strong>seja envolvido, de qualquer maneira, em
            cobranças extrajudiciais ou qualquer outra medida judicial em decorrência
            de danos causados por um <strong>USUÁRIO</strong> ou pessoas de
            responsabilidade deste, este se obriga a intervir nos procedimentos em
            trâmite, de modo a isentar o <strong>Restaurante </strong>de qualquer
        possível resultado negativo. E, caso tais esforços não sejam suficientes, o<strong>Restaurante </strong>terá direito integral de regresso contra o    <strong>USUÁRIO</strong> quando o dano a ser indenizado decorra direta ou
            indiretamente da conduta, omissiva ou comissiva, deste.
        </p>
        <p>
            O <strong>Restaurante </strong>não garante a ausência de vírus no Site, bem
            como de outros elementos nocivos que possam produzir alterações nos
            sistemas informáticos dos <strong>USUÁRIOS</strong> (software e hardware)
            ou nos documentos eletrônicos armazenados no sistema informático,
            eximindo-se de qualquer responsabilidade pelos danos e prejuízos que possam
            decorrer de quaisquer elementos nocivos.
        </p>
        <p>
        O <strong>Restaurante </strong>não verifica ou controla o uso que o<strong>USUÁRIO</strong> faz da <strong>Plataforma</strong>. Dessa forma, o    <strong>Restaurante </strong>se exime de qualquer responsabilidade pelos
            danos e prejuízos de qualquer natureza que possam decorrer de má utilização
            ou que possam ser devidos à falta de veracidade, vigência, exaustividade
            e/ou autenticidade do conteúdo lá disponibilizado e, em particular, pelos
            danos e prejuízos de qualquer natureza advindos de fraude de identidade
            cometida por um <strong>USUÁRIO</strong> em comunicações transmitidas por
            meio da <strong>Plataforma</strong>.
        </p>
        <p>
            <strong>Propriedade Intelectual</strong>
        </p>
        <p>
            O <strong>USUÁRIO</strong> declara que é titular de qualquer conteúdo que
            inserir na <strong>Plataforma</strong>, sob qualquer forma. Declara, ainda,
            que o conteúdo inserido no Site é de autoria do <strong>USUÁRIO</strong>
            ou, em sendo de autoria de terceiro, que detém, por si e para si, as
        autorizações e licenças necessárias para veiculação de tal conteúdo. O    <strong>Restaurante </strong>não se responsabilizará nos casos em que, sem
            o prévio conhecimento, o <strong>USUÁRIO</strong> utilizar, inserir,
            manipular ou apresentar conteúdo de autoria de terceiro como sendo de
            autoria própria ou por meio de falsa alegação de que deteria autorização do
            titular do conteúdo.
        </p>
        <p>
        O <strong>Restaurante </strong>não se responsabiliza pela violação, pelo    <strong>USUÁRIO</strong>, de direitos de propriedade intelectual de
            terceiro, sendo o <strong>USUÁRIO</strong> responsável pela violação
        obrigado a intervir nos procedimentos em trâmite de modo a isentar o    <strong>Restaurante </strong>de qualquer possível resultado negativo. E,
            caso tais esforços não sejam suficientes, o <strong>Restaurante</strong>
            terá direito integral de regresso contra o <strong>USUÁRIO</strong> quando
            o dano a ser indenizado decorra direta ou indiretamente da conduta,
            omissiva ou comissiva, deste.
        </p>
        <p>
            O <strong>Restaurante </strong>é titular exclusivo de todos os direitos,
            morais e patrimoniais, incidentes ou eventualmente incidentes sobre
        aspectos visuais e/ou artísticos do Serviço, das interfaces da    <strong>Plataforma</strong>, bem como o código-fonte, os elementos
            técnicos, de design, de processos, relatórios, e outros que ajudem a
            caracterizar o Site, os sinais distintivos, marcas, logos e qualquer
            material passível de proteção por direitos autorais ou propriedade
            industrial.
        </p>
        <p>
        Para permitir a utilização da <strong>Plataforma</strong> pelo    <strong>USUÁRIO</strong>, o <strong>Restaurante </strong>concede, pela
            duração da manutenção da Conta, uma licença de uso pessoal, limitada,
            revogável, intransferível, não exclusiva e não passível de
            sublicenciamento, dos direitos de propriedade intelectual necessários à
            utilização do Site, o que não inclui direitos de reprodução, alteração,
            comunicação ao público ou qualquer forma de distribuição. É estritamente
            proibido qualquer tipo de cópia, alteração ou redistribuição da aplicação,
            do <em>website</em>, do código-fonte ou de qualquer elemento incluído sob a
            sigla Propriedade Intelectual, em parte ou no todo.
        </p>
        <p>
            O <strong>USUÁRIO</strong> também concorda que não vai fazer, tentar fazer,
            ou ajudar alguém a fazer nenhum tipo de engenharia reversa ou tentativa de
            acesso ao código fonte e estrutura do banco de dados, em relação à
            quaisquer funcionalidades disponibilizadas pela <strong>Plataforma</strong>
            .
        </p>
        <p>
            O <strong>USUÁRIO</strong> reconhece que o conteúdo disponibilizado por
        meio do Site, como textos, imagens, fotografias, ícones, tecnologias,<em>links</em> e demais conteúdos audiovisuais ou sonoros, incluindo o    <em>software</em> da Plataforma, desenhos gráficos e códigos fonte, são de
            propriedade exclusiva do <strong>Restaurante</strong> ou de terceiro que
            autorizou sua utilização no Site, e estão protegidos pelas leis e tratados
            internacionais, sendo vedada sua cópia, reprodução, ou qualquer outro tipo
            de utilização, ficando os infratores sujeitos às sanções civis e criminais
            correspondentes, nos termos das Leis Federais 9.279/96, 9.609/98 e
            9.610/98.
        </p>
        <p>
            <strong>Privacidade dos USUÁRIOS</strong>
        </p>
        <p>
            O <strong>Restaurante </strong>possui política expressa sobre como realiza
        a coleta e o tratamento dos dados pessoais obtidos por meio da    <strong>Plataforma</strong>. As informações de cadastro e demais
            informações sobre os <strong>USUÁRIOS</strong> estão sujeitas ao tratamento
            definido na referida Política.
        </p>
        <p>
            Para maiores informações, favor consultar o documento "Política de
        Privacidade", acessível por meio do link    <strong>“Politica de privacidade”.</strong><strong> </strong>Tal documento
            constitui parte integrante e indissociável do presente documento e deverá
            ser lido atentamente por todos os <strong>USUÁRIOS</strong>.
        </p>
        <p>
            Na hipótese das disposições contidas nos Termos e Condições de Uso
            conflitarem com as disposições previstas na Política de Privacidade,
            observar-se-á o disposto no documento que trate do tema com maior
            especificidade.
        </p>
        <p>
            §
            <strong>
                Procedimento em caso de realização de atividades de caráter ilícito
            </strong>
        </p>
        <p>
            Na hipótese de um <strong>USUÁRIO</strong> e/ou um terceiro considerar que
              existem informações, fatos ou circunstâncias que constituem atividade
              ilícita, no Site
            , especialmente em caso de violação de direitos de propriedade intelectual
        ou outros direitos, deverá enviar comunicação ao    <strong>Restaurante </strong>contendo os seguintes dados:
        </p>
        <p>
            a) dados pessoais: nome, endereço, número de telefone e endereço de correio
            eletrônico do reclamante;
        </p>
        <p>
        b) especificação da suposta atividade ilícita ocorrida no Site do    <strong>Restaurante </strong>e, em particular, quando se tratar de suposta
            violação de direitos autorais, indicação precisa e completa dos conteúdos
            protegidos e supostamente infringidos (identificação do endereço eletrônico
            relativo ao conteúdo violado), bem como prova da titularidade sobre tais
            direitos ou legítima autorização para representar o titular;
        </p>
        <p>
            c) fatos ou circunstâncias que revelam o caráter ilícito de tal atividade;
            e
        </p>
        <p>
            d) se o caso, declaração expressa e clara de que a utilização dos conteúdos
            foi realizada sem o consentimento do titular dos direitos de propriedade
            intelectual supostamente infringidos.
        </p>
        <p>
            O <strong>USUÁRIO</strong> declara estar ciente de que os dados pessoais
            supramencionados são fornecidos com a estrita finalidade de verificação e
            apuração das circunstâncias dispostas no ato da reclamação.
        </p>
        <p>
            Sempre de acordo com a legislação em vigor, e a partir da ciência de certos
            conteúdos no Site, o <strong>Restaurante </strong>poderá excluir conteúdo
            acusado como ilícito, assim como fornecer informações às autoridades
            competentes, mediante o competente requerimento e/ou ordem judicial
            específica, com a finalidade de viabilizar a apuração de condutas ilegais.
        </p>

      </div>
    </div>
  </div>
</div>


{% endblock %}
